body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    background-color: rgb(239, 206, 211);
}
li {
    font-size: 14px;
    font-style: italic;
    color: #555;
    font-weight: normal;
}
.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.homebg {
   
    background-position: top right;
    background-image: url(../images/color.webp)
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.backtotop {
    font-weight: bold;
}

.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
    margin: 50px;
}
